/extra/
/basic/emacs.d/auto-save-list
/basic/emacs.d/swank
/basic/emacs.d/elpa
/basic/emacs.d/elpa.*
/basic/emacs.d/ac-comphist.dat
/basic/emacs.d/url
/basic/emacs.d/tramp
/basic/emacs.d/.cask
/basic/abbrev_defs
basic/emacs.d/abbrev_defs
basic/emacs.d/workbench.xmi
