/extra/
/basic/emacs.d/auto-save-list
/basic/emacs.d/swank
/basic/emacs.d/elpa
/basic/emacs.d/elpa.*
/basic/emacs.d/ac-comphist.dat
/basic/emacs.d/url
/basic/emacs.d/tramp
/basic/emacs.d/.cask
/basic/abbrev_defs
/basic/emacs.d/abbrev_defs
/basic/emacs.d/workbench.xmi
/basic/emacs.d/ido.last
/basic/emacs.d/places
/basic/emacs.d/history
/basic/emacs.d/.org-id-locations
/basic/emacs.d/bbdb
/basic/emacs.d/ensime/
/basic/emacs.d/auctex/
/basic/lein/repl-history
